<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Core_Java_Sessions/src/Java_daay_4/Access_Modifier_Another_Package.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Java_daay_4.Access_Modifier_Another_Package"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Core_Java_Sessions"/>
</launchConfiguration>
