<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel=2>
  <test name="Test">
    <classes>
      <class name="com.google.tests.GoogleHomePageTest"/>
      <class name="com.google.tests.GoogleHomePageTest"/>
    </classes>
  </test> <!-- Test -->
  <suite name="Suite2" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.google.tests.GoogleHomePageTest"/>
      <class name="com.google.tests.GoogleHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
